doctype html
html
  head
    title MK Dance Acadmey
    block scripts
    block style 
  body
    nav#navbar
        ul
           div#logo
               img(src="/static/d_logo.jpg",alt="Logo Image")
           li #[a(href="/") Home]
           li #[a(href="/") About]
           li #[a(href="/") Services]
           li #[a(href="/") Class Info]
           li #[a(href="/contact_us") Contact Us]
    block content
    footer#footer 
        | Copyright @ 2019 MKDanceAcademy.com  | All rights reserved
    