extends base.pug

block scripts 
   script(src="/static/index.js") 


block style 
   style 
     include ../static/style.css

block content 
    section#introSection 
        div.large Welcome to MK Dance Academy  
        div.small Eat Dance Sleep Repeat
    section#missionSection 
        h2 Our Mission
        div.card 
            h3 Dance Perfection
        div.card 
            h3 Dance the way you like
        div.card 
            h3 Expert Teaching        
    section#sponsorsSection 
        h2 Our Sponsors 
        div#sponsors 
            img(src="/static/sponsor1.png", alt="Sponxors Image" ,class="spImage")
            img(src="/static/sponsor2.png", alt="Sponxors Image" ,class="spImage")
            img(src="/static/sponsor3.png", alt="Sponxors Image" ,class="spImage")
            img(src="/static/sponsor4.png", alt="Sponxors Image" ,class="spImage")